* {
    text-transform:capitalize;
}
/* Header */
header {
    display: block;
}
.photo {
    width: 101.6%;
    height: 452px;
    background-attachment:scroll;
    background-size: cover;
    background-clip: border-box;
    margin: -8px;
}
#ph1 {
    height: 100%;
    width: 100%;
}
.h1 {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#p1 {
    color: white;
    margin-left: -160px;
    font-family:cursive;
    font-size: 19PX;
    margin-bottom: 50px;
}
.btn1 {
    border: solid 1px rgb(87, 86, 86);
    padding: 25px 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 145px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
    border-radius: 5px;
    display:inline-block ;
}
.btn1:hover {
    color: #333333;
    background-color: white;
}
.content-wrap {
    margin-top: -350px;
    margin-left: 250px;
    margin-bottom: 105px;
}
/* Main */
main { background-color: #333;}
/* Section-A */
#section-a { 
    text-align: center; 
    background-color: #eaeaea; 
    width: 101.6%; 
    margin-left: -8px;
    padding-top: 15px; 
    height: 200px; 
}
.section-a-h2 {
    font-family: Arial, Helvetica, sans-serif;
}
.section-a-p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17.6px;
    columns: 2;
    column-gap: 2em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
}
/* Section-B */
#section-b { 
    display: inline-block; 
    background-color: #333; 
    width: 101.6%;
    margin-left: -8px; 
    text-align: center; 
}
ul li { 
    list-style: none; 
    display: inline-block; 
    padding: 20px 15px;
}
img {
     width: 278.81px;
    }
.card { 
    border: #333 1px solid; 
    width: 278.81px; 
    height: 500px; 
    background-color: #eee;
    display: inline-block; 
}
.card-content { 
    text-align: center; 
    padding: 1.5em;
}
/* Section-C */
.section-c {
    text-align: center; 
    padding: 35.2px 0px ;
    margin: -5px 0px;
    width: 100.6%;
    background-color: white;
}
.section-c-h {
    font-family: Arial, Helvetica, sans-serif;
    padding: 26.4px 0px;
}
.section-c-p {
    font-size: 17.6px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 17.6px 0px;
}
/* Section-D */
a:visited :active { 
    color: black;
}
i {
    color: white;
    margin: 0px 5px;
}
.section-d-p {
    font-size: 20px;
}
.section-d { margin: -2px -8px ;  }
.box {
    text-align: center; 
    width: 49.7%;
    display: inline-block;
    padding: 0px;
    height: 300px;
    padding-top: 40px;
    margin-right: -2px;
    padding-left: 4px;
    color: white;
    background-color: #2690d4;
}
#box2 {
    background-color: #333;
    padding-top: 37px;
    text-align: center; 
    width: 49.7%;
    display: inline-block;
    height: 300px;
    padding-bottom: 3px;
    margin-left: -2px;
    color: white;
}
/* Footer */
footer {
    display: inline-block;
    background-color: black;
    width: 101.4%;
    height: 100px;
    margin-top: 2px;
    margin-left: -8px;
    padding-bottom: 2px;
    color: white;
}
.ftdiv1 {
    padding-left:100px;
    display: inline-block;
    width: 450px; 
    font-size: 17.6px;
    font-family: Arial, Helvetica, sans-serif;
}
.ftdiv2 {
    display: inline-block;
    font-size: 17.6px;
    font-family: Arial, Helvetica, sans-serif;
    width: 450px; 
}
.agoogle {
    text-decoration: none;
    color: #2690d4;    
    font-family: Arial, Helvetica, sans-serif;
}